.crime-container {
    font-family: Geneva, Verdana, Tahoma;
    display: flex;
    flex-flow: column wrap;


  }

  
.crime-container .rec, .crime-container .crimeResults {
    font-family: Geneva, Verdana, Tahoma;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    height: 40px;
   
  }
  
  .rec .header, .crimeResults .name, .crimeResults .phone, .crimeResults .type {
    font-family: Geneva, Verdana, Tahoma;

    flex: 1 0 25%;
  }
  