

.info-container {
  font-family: Geneva, Verdana, Tahoma;
  display: flex;
  margin-top: 10px;
  background-color: rgb(80, 105, 189);

}

.submit-button {
  font-family: Geneva, Verdana, Tahoma;
  color: white;
  background-color:rgb(80, 105, 189);
}



/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-family: Geneva, Verdana, Tahoma;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



