.stat-container {
  font-family: Geneva, Verdana, Tahoma;
  display: flex;
  flex-flow: column wrap;
  margin-top: 7px;
  margin-bottom: .15px;
}

.stat-container .stat, .stat-container .statResults {
  font-family: Geneva, Verdana, Tahoma;
  display: flex;
  align-items: center;
}

.stat .header, .statResults .section, .statResults .percent {
  flex: 1 30%;
}
